# ==========================
# Jupyter / Widgets
# ==========================
ipywidgets==8.1.2

# ==========================
# Data Analysis & Visualization
# ==========================
pandas==2.2.2
matplotlib==3.8.4
xlsx2csv==0.7.8

# ==========================
# Machine Learning / PyTorch
# ==========================
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4

# ==========================
# MongoDB
# ==========================
pymongo==4.10.1

# ==========================
# Neo4j
# ==========================
neo4j==5.25.0
py2neo==2021.2.4

# ==========================
# Airflow Core & Providers
# ==========================
apache-airflow[celery,redis]==3.1.0
apache-airflow-providers-postgres==6.3.0
apache-airflow-providers-apache-druid==4.2.1

# ==========================
# ETL / Database Utilities
# ==========================
pycountry==22.3.5
psycopg2-binary==2.9.9


# ==========================
# Utilities
# ==========================
faker==8.12.1